* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: Helvetica;
}

body {
  display: table;
  width: 100%;
  border-collapse: collpase;
}

.wrap {
  display: table-row;
}

header, footer {
    background-color:#F16F51;
    height: 40px;
    text-align: center;
    line-height: 40px;
}

footer{
  display: table-row;
}

footer small {
  color: #fff;
  font-weight: lighter;
  text-transform: uppercase;
}

h1 {
    vertical-align: middle;
    color: white;
    font-weight: bold;
}

form fieldset {
  width: 70%;
  margin: 0 auto;
}

form input {
  max-width: 40em;
}

form * {
  margin: .5em .2em;
}

.row {
    margin: 10px 20px;
}

#results {
    margin: 30px 20px 10px 0px;
}

.alert {
  margin-top: 25%;
  background-color: #F16F51;
  text-align: center;
  line-height: 2em;
  font-family: Consolas, "Andale Mono", monospace;
}

.alert h2{
  color: #f00;
  font-size: 2em;
}

.alert p {
  color: #fff;
  font-size: 1.1em;
}

.person-row {
    margin: 10px 0px;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    float: left;
    background-color: #FDB45C;    
}

.person-row img {
    float: left;
    margin-right: 20px;
}

.personal-info {
    float: left;
}

.person-row > button {
   float: right; 
}